################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Bonos.Api.RestTests/bin/Debug
/com.mercaderia.bono.Utilidades.Excepciones/obj/Debug
